.header {
  width: 99%;
  height: 10%;
  position: fixed;
  z-index: 100;
  transition: all 300ms;
  box-shadow: 0 2px 4px 0 rgb(0 0 0 / 20%);
}

.container-header {
  max-width: 85%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  margin: 0px 0px 0px 55%;
  color: #ffffff;
}

.nav ul {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav ul li {
  list-style: none;
  margin: 0px 20px;
  font-weight: bold;
  cursor: pointer;
  list-style: none;
}

.nav ul li a {
  text-decoration: none;
  color: black;
}

h3 {
  margin: -3% 0% 0% 3%;
  color: black;
  font-size: 30px;
  width: 60px;
}
